html {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	background-color: #73a3f0;

}

footer {


}

main {
	display: flex;
  	flex-direction: column;
  	margin: 0 auto;
	color: white;
}

header {
	border-bottom: 2px solid #e7e7e7;
}

header > nav {
  border-bottom: 5px solid gray;
}

header > nav > ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: blue;
	list-style: none;
	padding: 0;
	margin: 0;
}

header > nav > ul > li {
  display: inline;
  margin: 0 20px;
  padding: 15px 0 15px 0;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

header > nav > ul > li > a:hover {
	color: black;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

header > nav > ul > li > a.selected {
	background-color: #e6b800;
	color: #000000;
	border-radius: 5px;
}

#logo {
	align-items: center;
	justify-content: center;
}

.profile {
	display: flex;
	color: black;
	background-color: whitesmoke;
	border: 5px solid gray;
	border-radius: 15px;
	width: 400px;
	padding: 20px;
	text-align: center;
	margin: 50px auto;
	cursor: default;
}

.profile #kross-photo {
	width: 60%;
	border: 5px solid gray;
	border-radius: 15px;
	margin: 20px 0 0 0;
}

.profile .follow-button {
	display: inline-block;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 20px 0 20px 0;
	transition: 0.2s ease-in-out;
}

.profile .follow-button:hover {
	background-color: #e7e7e7;
	transition: 0.2s ease-in-out;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: left;
	padding: 10px
}

td {
	word-wrap: break-word;
}

.about-me > h2 {
	background-color: #00af8f;
	color: whitesmoke;
	margin: 20px auto;
	padding: 10px 0;
	text-align: center;
	width: 200px;
	border-radius: 5px;
	border: 1px solid gray;
}

.container > h2 {
	/*Add later on*/
}

main > h1 {
	text-decoration: underline;
	margin: 25px auto;
}

.note {
	color: black;
}

.note ul {
	border: 1px solid #000000;
	border-radius: 5px;
	width: 300px;
}

button {
	background-color: #00af8f;
	border: 1px solid gray;
	border-radius: 5px;
	color: whitesmoke;
	padding: 10px 20px;
	margin: 20px 0;
	transition: 0.2s ease-in-out;
}

button > a {
	text-decoration: none;
	color: whitesmoke;
	transition: 0.2s ease-in-out;
}

button:hover {
	background-color: gray;
	transition: 0.2s ease-in-out;
}

/*bugg vcl*/

.container .profile div h1 {
	text-align: center;
	text-decoration: underline;
}
